*{
    scrollbar-width: none;
}
body {
    background-color: #040404;
    font-family: Arial, sans-serif;
    color: #ffffff;
    
}
header {
    /* position: sticky; */
    top: 0;
    width: 100%;
    z-index: 1000;
  }

img{
    position: fixed;
    /* mix-blend-mode: multiply; */
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

}

