*{
    scrollbar-width: none;
}
body {
    background-color: #040404;
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #ffffff;

}
header {
    /* position: sticky; */
    top: 0;
    background-color: #00000000;
    color: #ffffffcd;
    padding: 1rem;
    width: 100%;
    z-index: 1000;
  }


  img{

    position: fixed;
    /* mix-blend-mode: multiply; */
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

}

h1 {
    text-align: left;
    margin-bottom: 20px;
}

#filters {
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

#filters label {
    margin-right: 5px;
}

#filters select, #filters input {
    padding: 5px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    border-radius: 50px;
    color: #fff;
    background-color: #000000;
}

#searchVideosBtn {
    padding: 5px 10px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    border-radius: 50px;
    color: #fff;
    background-color: #000512;
}


#videoContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: flex-start;
    justify-self: start;
}

.video {
    display: grid;
    gap: 9px;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}
.thumbnail{
    border: 20px solid white;
    border-radius: 50px;
}
.thumbnail:hover{
    margin: 0 50px 50px 50px;
    margin: 0px auto;
    border-radius: 10px;
    box-shadow: 
        0 0 10px rgb(1, 58, 58), 
        0 0 20px rgb(1, 58, 58), 
        0 0 30px rgb(1, 58, 58), 
        0 0 40px rgb(1, 58, 58),
        5px 5px 15px rgba(1, 250, 246, 0.5); /* Shadow for lifted effect */
    transform: translateY(-10px); /* Lift box upwards */
        

}
footer {
    width: 100%;
    background-color: #000000;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }

  .footer-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 800;
    margin: 0.5rem 1rem;
  }

  .footer-about {
    margin-bottom: 1rem;
    text-align: center;
  }

  footer form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer form textarea {
    resize: none;
    padding: 0.5rem;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    background-color: #000000;
    margin-bottom: 0.5rem;
  }

  footer form label {
    color: #fff;
    text-decoration: none;
    font-weight: 800;
    /* margin-bottom: 0.5rem; */
  }

  footer form input[type="submit"] {
    background-color: #000000;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  footer form input[type="submit"]:hover {
    background-color: #111727;
  }
@media (min-width: 600px) {
    #filters {
        flex-direction: row;
        justify-content: center;
    }

    #filters select, #filters input, #searchVideosBtn {
        
        width: auto;
        max-width: none;
    }

    .video {
        max-width:100%;
    }
    .thumbnail{
        max-width:100%;
        border: 1px solid white;
    }
}
