<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Educart</title>
</head>
<body >
<header>
    <nav class="bg-gray-900 bg-opacity-90 text-white backdrop-blur-lg h-24" id="mainNav">
        <div class="container mx-auto px-4 flex justify-between items-center h-full">
            <a class="text-xl font-bold" href="/">Ishwik's EDUCART</a>
            <button
                class="block lg:hidden text-white focus:outline-none"
                type="button"
                aria-controls="navbarResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>
            <div class="hidden lg:flex lg:items-center lg:space-x-4" id="navbarResponsive">
                <ul class="flex flex-col lg:flex-row lg:space-x-4">
                    <li class="nav-item">
                        <a
                            class="block py-2 lg:py-0 lg:px-4 hover:text-blue-400"
                            href="{{ url_for('index') }}"
                        >Home</a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="block py-2 lg:py-0 lg:px-4 hover:text-blue-400"
                            href="{{ url_for('notes') }}"
                        >Notes</a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="block py-2 lg:py-0 lg:px-4 hover:text-blue-400"
                            href="{{ url_for('resources') }}"
                        >Resources</a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="block py-2 lg:py-0 lg:px-4 hover:text-blue-400"
                            href="{{ url_for('login') }}"
                        >Login</a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="block py-2 lg:py-0 lg:px-4 hover:text-blue-400"
                            href="{{ url_for('register') }}"
                        >Register</a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="block py-2 lg:py-0 lg:px-4 hover:text-blue-400"
                            href="{{ url_for('logout') }}"
                        >Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>