{% extends 'header.html' %}
{% block title %}profile_page{% endblock %}
{% block content %}
<!-- Main Container -->
<div class="max-w-6xl mx-auto px-4 py-8 min-h-screen bg-black text-gray-800">
    <!-- Profile Header -->
    <div class="flex flex-col border-b pb-8 md:flex-row items-center md:items-start gap-8 mb-8">
      <!-- Profile Picture -->
        <div class="relative group">
          {% if user_profile.profile_image_data %}
            <!-- Use the stored binary data converted to Base64 -->
            <img src="data:{{ user_profile.image_content_type }};base64,{{ user_profile.profile_image_data }}" alt="Profile"
                 class="w-32 h-32 rounded-full border-4 border-blue-300 shadow-lg">
          {% else %}
            <!-- Fallback to a static file (for example, a default image) -->
            <img src="{{ url_for('static', filename='images/' ~ user_profile.profile_image) }}" alt="Profile"
                 class="w-32 h-32 rounded-full border-4 border-blue-300 shadow-lg">
            <button class="absolute bottom-0 right-0 bg-blue-600 text-white p-2 rounded-full hover:bg-blue-700 transition">
            <i class="fas fa-camera"></i>
          </button>
          {% endif %}
        </div>

        <!-- Profile Info -->
        <div class="flex-1">
            <div class="flex items-center gap-4 mb-4">
                <h1 class="text-2xl font-bold text-gray-100">{{ user_profile.username }}</h1>
                {% if current_user.username == username %}
                    <button type="button" class="px-4 py-2 bg-gray-300 text-gray-700 rounded-full hover:bg-gray-400 transition"
                            id="editProfileBtn">
                        Edit Profile
                    </button>
                    <button type="button" class="px-4 py-2 bg-blue-500 text-white rounded-full hover:bg-blue-600 transition"
                            id="uploadNoteBtn">
                        Upload Note
                    </button>
                {% else %}
                    {% if username in current_user.user_data['following'] %}
                        <a href="{{ url_for('unfollow', username=username) }}"
                           class="px-3 py-2 bg-blue-600 text-gray-100 rounded-full hover:bg-blue-900 transition"
                           id="unfollowBtn">
                            Unfollow
                        </a>
                    {% else %}
                        <a href="{{ url_for('follow', username=username) }}"
                           class="px-3 py-2 bg-blue-600 text-gray-100 rounded-full hover:bg-blue-900 transition"
                           id="followBtn">
                            Follow
                        </a>
                    {% endif %}
                         <a href="{{ url_for('chat', username=current_user.username, target=user_profile.username)}}"
                           class="px-3 py-2 bg-blue-600 text-gray-100 rounded-full hover:bg-blue-900 transition"
                           id="chatBtn">
                            Message
                        </a>
                {% endif %}
            </div>

            <!-- Stats -->
            <div class="flex gap-8 mb-4">
                <div class="text-center">
                    <span class="font-bold text-gray-100">{{ notes|length }}</span>
                    <span class="text-gray-300">Notes</span>
                </div>
<!--                <div class="text-center">-->
<!--                    <span class="font-bold text-gray-100">{{ user_profile.points }}</span>-->
<!--                    <span class="text-gray-300">Points</span>-->
<!--                </div>-->
                <div class="text-center">
                    <span class="font-bold text-gray-100">{{ user_profile.followers|length }}</span>
                    <span class="text-gray-300">Followers</span>
                </div>
                <div class="text-center">
                    <span class="font-bold text-gray-100">{{ user_profile.following|length }}</span>
                    <span class="text-gray-300">Following</span>
                </div>
            </div>

            <!-- Bio -->
            <p class="text-gray-300">
                {{ user_profile.bio }}
            </p>
        </div>
    </div>

    <!-- Content Grid -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for note in notes %}
        <div class="bg-black-300 rounded-lg shadow-md hover:shadow-lg transition p-4 border border-gray-200">
            <h3 class="font-bold text-gray-100 mb-2">{{ note.title }}</h3>
            <p class="text-gray-300 text-sm mb-4">
                {{ note.description }}
            </p>
            <div class="flex justify-between text-xs text-gray-200 font-bold">
                <span>Subject: {{ note.subject | upper }}</span>
                <span>Year: {{ note.year }}</span>
            </div>
            <div class="flex justify-between text-xs text-gray-500 mt-2">
                <span>Created: {{ note.created_at.strftime('%Y-%m-%d') if note.created_at else 'N/A' }}</span>
                <div class="flex gap-2">

                    <a href="{{ url_for('download_note', note_id=note['_id']) }}"
                       class="px-3 py-2 bg-blue-600 text-gray-100 rounded-full hover:bg-blue-900 transition">
                        <i class="fas fa-download">Download</i>
                    </a>

                    {% if current_user.id == note.user_id %}
                        <button class="px-3 py-2 bg-red-600 text-gray-100 rounded-full hover:bg-red-900 transition delete-btn" data-note-id="{{ note._id }}">
                            <i class="fas fa-trash"> Delete</i>
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-span-full text-center text-gray-500">
            No notes found.
        </div>
        {% endfor %}
    </div>

    <!-- Delete Confirmation Message Box -->
    <div class="fixed inset-0 bg-black bg-opacity-70 hidden" id="deleteModel">
        <div class="flex items-center justify-center min-h-screen">
            <div class="bg-white rounded-lg p-6 w-96">
                <h2 class="text-xl font-bold mb-4">DELETE</h2>
                <form action="{{ url_for('delete') }}" method="POST" id="deleteForm">
                    <input type="hidden" name="note_id" id="noteIdInput">
                    <div class="mb-4">
                        <h2 class="block text-gray-700 mb-2">YOU ARE GOING TO DELETE THESE NOTES.</h2>
                    </div>
                    <div class="flex justify-end gap-2">
                        <button type="button" class="px-4 py-2 text-gray-500 rounded-full hover:text-gray-100 hover:bg-black" id="cancelDeleteBtn">
                            Cancel
                        </button>
                        <button type="submit" class="px-3 py-2 bg-red-600 text-gray-100 rounded-full hover:bg-red-900 transition" id="confirmDeleteBtn">
                            DELETE
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Upload Note Modal -->
    <div class="fixed inset-0 bg-black bg-opacity-50 hidden" id="uploadNoteModal">
        <div class="flex items-center justify-center min-h-screen">
            <div class="bg-black border rounded-lg p-6 w-96">
                <h2 class="text-xl text-gray-100 font-bold mb-4">Upload Note</h2>
                <form action="{{ url_for('upload_note') }}" method="POST" enctype="multipart/form-data">
                    <div class="mb-4">
                        <label class="block text-gray-100 mb-2">Title</label>
                        <input type="text"
                               class="w-full px-3 py-2 border rounded-lg text-gray-100 bg-black"
                               name="title"
                               required>
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-100 mb-2">Description</label>
                        <textarea class="w-full px-3 py-2 border rounded-lg h-24 text-gray-100 bg-black"
                                  name="description"
                                  required></textarea>
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-100 mb-2">Subject</label>
                        <input type="text"
                               class="w-full px-3 py-2 border rounded-lg text-gray-100 bg-black"
                               name="subject"
                               required>
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-100 mb-2">Year (write only number)</label>
                        <input type="text"
                               class="w-full px-3 py-2 border rounded-lg text-gray-100 bg-black"
                               name="year"
                               required>
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-100 mb-2">Upload PDF (only pdf)</label>
                        <input type="file"
                               class="w-full px-3 py-2 border rounded-lg text-gray-100 bg-black"
                               name="file"
                               accept="application/pdf"
                               required>
                    </div>
                    <div class="flex justify-end gap-2">
                        <button type="button"
                                class="px-4 py-2 text-gray-400 hover:bg-white rounded-lg text-gray-900 "
                                id="cancelUploadBtn">
                            Cancel
                        </button>
                        <button type="submit"
                                class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600">
                            Upload
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Edit Profile Modal -->
<div class="fixed inset-0 bg-black bg-opacity-50 hidden" id="editModal">
  <div class="flex items-center justify-center min-h-screen">
    <div class="bg-black border rounded-lg p-6 w-96">
      <h2 class="text-xl font-bold mb-4 text-gray-100">Edit Profile</h2>
      <!-- Note the enctype attribute -->
      <form action="{{ url_for('userprofile', user_id=user_id) }}" method="POST" enctype="multipart/form-data">
        <div class="mb-4">
          <label class="block text-gray-100 mb-2">Username</label>
          <input type="text"
                 class="w-full px-3 py-2 border rounded-lg text-gray-100 bg-black"
                 name="username"
                 value="{{ username }}">
        </div>
        <div class="mb-4">
          <label class="block text-gray-100 mb-2">Bio</label>
          <textarea class="w-full px-3 py-2 border rounded-lg h-24 text-gray-100 bg-black"
                    name="bio">{{ bio }}</textarea>
        </div>
        <!-- New file input for profile image -->
        <div class="mb-4">
          <label class="block text-gray-100 mb-2">Profile Image</label>
          <input type="file" name="profile_image" accept="image/*" class="w-full px-3 py-2 border rounded-lg text-gray-100 bg-black">
        </div>
        <div class="flex justify-end gap-2">
          <button type="button"
                  class="px-4 py-2 text-gray-400 hover:bg-white rounded-lg text-gray-900"
                  id="cancelEditBtn">
            Cancel
          </button>
          <button type="submit"
                  class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600">
            Save Changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


    <script>
        // Modal handling
        document.addEventListener('DOMContentLoaded', () => {
            const editModal = document.getElementById('editModal');
            const uploadNoteModal = document.getElementById('uploadNoteModal');
            const deleteModel = document.getElementById('deleteModel');

            const deleteButtons = document.querySelectorAll('.delete-btn');
            const cancelDeleteBtn = document.getElementById('cancelDeleteBtn');
            const noteIdInput = document.getElementById('noteIdInput');

            const editProfileBtn = document.getElementById('editProfileBtn');
            const uploadNoteBtn = document.getElementById('uploadNoteBtn');
            const cancelEditBtn = document.getElementById('cancelEditBtn');
            const cancelUploadBtn = document.getElementById('cancelUploadBtn');

            // Handle delete button click
            deleteButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const noteId = this.getAttribute('data-note-id');
                    if (noteIdInput) noteIdInput.value = noteId;
                    if (deleteModel) deleteModel.classList.remove('hidden');
                });
            });

            // Handle cancel delete button
            cancelDeleteBtn?.addEventListener('click', () => {
                deleteModel?.classList.add('hidden');
            });

            // Handle cancel edit modal
            cancelEditBtn?.addEventListener('click', () => {
                editModal?.classList.add('hidden');
            });

            // Handle cancel upload modal
            cancelUploadBtn?.addEventListener('click', () => {
                uploadNoteModal?.classList.add('hidden');
            });

            // Show edit modal
            editProfileBtn?.addEventListener('click', () => {
                editModal?.classList.remove('hidden');
            });

            // Show upload note modal
            uploadNoteBtn?.addEventListener('click', () => {
                uploadNoteModal?.classList.remove('hidden');
            });
        });
    </script>
</div>
{% endblock %}
